html/dist/info.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Голосуй</title>
    <meta name="title" content="Голос Петроградки">
    <meta name="description" content="СКЕЙТ-ПАРК ДЛЯ ВСЕХ ИЛИ &quot;КОРОБКА&quot; ДЛЯ НЕКОТОРЫХ?">
    <meta property="og:site_name" content="Голос Петроградки">
    <meta property="og:title" content="Голос Петроградки">
    <meta property="og:description" content="СКЕЙТ-ПАРК ДЛЯ ВСЕХ ИЛИ &quot;КОРОБКА&quot; ДЛЯ НЕКОТОРЫХ?">
    <meta property="og:image" content="http://www.petrogradnews.ru/icon/news_img2/705x470/55171_1494841231.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://138.68.95.227/vote.html">
    <meta property="og:locale" content="ru_RU">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GolosPetrograd">
    <meta name="twitter:image:src" content="http://www.petrogradnews.ru/icon/news_img2/705x470/55171_1494841231.jpg">
    <meta name="twitter:title" content="Голос Петроградки">
    <meta name="twitter:description" content="СКЕЙТ-ПАРК ДЛЯ ВСЕХ ИЛИ &quot;КОРОБКА&quot; ДЛЯ НЕКОТОРЫХ?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="widget-side-container">
        <div class="widget-side">
          <div class="widget-side__logo"><a href="/index.html"><img src="../img/Logo.png"></a></div>
          <div class="widget-side__contents">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="widget-side__content">
                    <h3>Возможность участвовать в преображение города</h3>
                    <p>Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...</p><a class="widget-side__link" href="#">о проекте
                      <div class="i i-arrow"></div></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="widget-side__content">
                    <h3>Возможность участвовать в преображение города</h3>
                    <p>Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...</p><a class="widget-side__link" href="#">о проекте
                      <div class="i i-external"></div></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="widget-side__content">
                    <h3>Возможность участвовать в преображение города</h3>
                    <p>Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...</p><a class="widget-side__link" href="#">о проекте
                      <div class="i i-arrow"></div></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="widget-side__content">
                    <h3>Возможность участвовать в преображение города</h3>
                    <p>Система онлайн голосований по вопросам развития города и реализации городских проектов. На портале размещены вопросы и предложения ...</p><a class="widget-side__link" href="#">о проекте
                      <div class="i i-external"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <script>
          var swiper = new Swiper('.swiper-container', {
              pagination: '.swiper-pagination',
              paginationClickable: true,
              spaceBetween: 30,
          });
        </script>
      </div>
      <div class="content-container">
        <div class="container">
          <div class="row">
            <div class="collapse">
              <nav class="navbar">
                <button class="navbar-toggle" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <div class="collapse navbar-collapse" id="navbar">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/index.html"><span>Голосования</span></a></li>
                    <li><a href="#"><span>Магазин поощрений</span></a></li>
                    <li><a href="/piters.html"><span>В питере</span></a></li>
                    <li><a href="/map.html"><span>Проект на карте</span></a></li>
                    <li><a href="#" data-toggle="dropdown" id="nav1" aria-haspopup="true" aria-expanded="false"><span>О проекте</span><span class="caret"></span></a>
                      <ul class="dropdown-menu" aria-labelledby="nav1">
                        <li><a href="/news.html"><span>Новости</span></a></li>
                        <li><a href="/info.html"><span>Порядок работы с сообщениями</span></a></li>
                        <li><a href="/info.html"><span>Условия пользования информацией</span></a></li>
                        <li><a href="/info.html"><span>Пользовательское соглашение</span></a></li>
                        <li><a href="/info.html"><span>Статусы Пользователей Портала</span></a></li>
                        <li><a href="/feedback.html"><span>Обратная связь</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <section>
            <div class="row">
              <div class="col-md-12">
                <header class="section-header">
                  <h2>О проекте "Голос Петербурга"</h2>
                </header>
              </div>
              <div class="col-md-12">
                <div class="article-content"><img class="article__img img-responsive" src="http://lorempixel.com/900/400/cats/">
                  <div class="article-content__text">
                    <p>Равные возможности - равные развлечения. Часто бывает, что дети и молодые люди исключаются из социальной жизни после приобретения тех или иных ограничений по здоровью. Значит ли это, что подобные изменения навсегда лишают детей и подростков радости от совместного активного отдыха? Мы считаем что нет. В настоящее время в районе ясно ощущается недостаток подобных площадок, универсальных для всех видов молодежи. Организация подобной скейт-плазы позволит вовлечь в социальную жизнь как тех, кто уже занимается активными видами спорта, так и тех, кто еще только решается на это - помимо размещения необходимого спортивного инвентаря, предполагается организация бесплатной спортивной секции. В настоящий момент на месте возможного размещения скейт-парка располагается футбольная площадка, огороженная забором.</p>
                    <ul>
                      <li>Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?</li>
                      <li>Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="footer__feedback">
                    <div style="padding: 0 20px; background: #fff;"><a class="btn btn-default" href="/feedback.html">Обратная связь</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="footer__item">
                    <p>Узнай результаты и подпишись на новости</p>
                    <div class="socials"><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--tm" href="#"></a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="footer__item">
                    <p>© 2017, Активный Гражданин. Все права защищены.<a href="#">Публичная оферта</a> Политика в отношении обработки персональных данных.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>

html/src/info.pug
extends ./template/base/layout

include ./template/mixins/piter/item
include ./template/mixins/article/item
include ./template/components/mixins/button

block content
    .row
        .collapse
            include ./template/components/nav/nav

    section
        .row
            .col-md-12
                header.section-header
                    h2 О проекте "Голос Петербурга"
            .col-md-12
                .article-content
                    img.article__img.img-responsive(src='http://lorempixel.com/900/400/cats/')
                    .article-content__text
                        p Равные возможности - равные развлечения. Часто бывает, что дети и молодые люди исключаются из социальной жизни после приобретения тех или иных ограничений по здоровью. Значит ли это, что подобные изменения навсегда лишают детей и подростков радости от совместного активного отдыха? Мы считаем что нет. В настоящее время в районе ясно ощущается недостаток подобных площадок, универсальных для всех видов молодежи. Организация подобной скейт-плазы позволит вовлечь в социальную жизнь как тех, кто уже занимается активными видами спорта, так и тех, кто еще только решается на это - помимо размещения необходимого спортивного инвентаря, предполагается организация бесплатной спортивной секции. В настоящий момент на месте возможного размещения скейт-парка располагается футбольная площадка, огороженная забором.
                        ul
                            li Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?
                            li Равные возможности - равные развлечения. Скейт-плаза для молодежи - включая и тех, кто имеет ограниченные возможности здоровья - такое не часто встретишь в нашем городе. Сделаем у нас?
